<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-2896228354143028778m_-1522288075322482536bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-2896228354143028778m_-1522288075322482536bodyCell" style="height:100%;margin:0;padding:0;width:100%">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td align="center" valign="top" id="m_-289encoding=6228354143028778m_-1522288075322482536templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;max-width:600px!important">
                                        <tbody><tr>
                                            <td valign="top" style="background:transparent none no-repeat center/cover;background-color:transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">



                <table align="left" borencoding=der="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody><tr>

                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                            <div style="text-align:center">
<div><strong><span style="font-size:24px"><span style="color:#800000">Срочное обращение к русскому народу</span></span></strong></div>

<hr></div>

                        </td>
                    </tr>
                </tbody></table>



            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
    <tbody>
        <tr>
            <td valign="top" style="padding-top:9px">



                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">Привет, я обычный украинец, и я хотел бы адресовать это обращение всем сознательным российским гражданам. </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">Недавно высшее руководство России во главе Путина совершило очередной акт агрессии против суверенного государства Украины, наплевав на основы международного права. Произошло полномасштабное вторжение, которое с каждым днем приводит к все большим катастрофическим последствиям.
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0px;padding-bottom:18px;text-align:center">
                                    <img align="center" alt="" src="https://static.espreso.tv/uploads/photobank/228000_229000/228485_Harkiv_bombarduvanna_960x380_0.jpg" width="564" style="max-width:1240px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 736.5px; top: 3229.75px;"><div id=":dy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">К большому сожалению, под ударом оказалось очень много объектов гражданской инфраструктуры: школы, церкви, детские сады, больницы. 2 марта российские ракеты ударили в район мемориала Холокоста "Бабий Яр" - по старому еврейскому кладбищу. Здесь было убито 200 тысяч евреев во время Второй мировой войны. История повторилась снова... А 9 марта в результате российского авиа налета был уничтожен роддом в Мариуполе.
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0px;padding-bottom:18px;text-align:center">
                                        <img align="center" alt="" src="https://24tv.ua/resources/photos/news/202203/1899125.jpg?v=1646864859000&w=1200&h=675&fit=cover" width="564" style="max-width:1240px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 736.5px; top: 3229.75px;"><div id=":dy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">И отсюда возникает ряд вопросов. А чем угрожают эти объекты россиянам? Какие базы НАТО там находятся? Неужели 60 погибших детей за время войны были неонацистами? Как это все называть, как не геноцид украинцев?
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">На все эти вопросы и даже больше у российской пропаганды, конечно же, есть ответ. По "России 1" сказали, что бомбу на роддом в Мариуполе "сбросил Правый сектор". А Соловьев сказал, что этот роддом использовал Азов как базу и гражданских там не было. Печально, что постоянная путаница "в показаниях" российских пропагандистов вообще не смущает вас, россиян.
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0px;padding-bottom:18px;text-align:center">
                                        <img align="center" alt="" src="https://static01.nyt.com/images/2022/03/24/world/24ukraine-briefing-morning-kyiv-01/24ukraine-briefing-morning-kyiv-01-mobileMasterAt3x.jpg" width="564" style="max-width:1240px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 736.5px; top: 3229.75px;"><div id=":dy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">К сожалению, в результате длительной пропаганды вы начали жить в орвелловском мире, где рабство – это свобода, а война – это мир. На сегодняшний день от вас отвернулся весь цивилизованный мир. Санкции откинули экономику России на 20 лет назад. Они уже начали ударять по кошельку каждого из вас. И это будет продолжаться. Вероятно, через месяц Россию постигнет дефолт. И теперь скажите, россияне: отстаивают ли Путин и его советники ваши интересы и видите ли вы перспективы в России в текущей ситуации?
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0px;padding-bottom:18px;text-align:center">
                                <img align="center" alt="" src="https://comments.ua/img/publications/Cz-8c_NPtMRVO2gwxO_1TVWBl7Osi-SA.jpg" width="564" style="max-width:1240px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 736.5px; top: 3229.75px;"><div id=":dy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">Так что русские, прошу прийти в себя! Нет здесь никаких неонацистов и бандеровцев. Здесь находятся только люди, которые просто любят свою родину и не отдадут ее ни при каких обстоятельствах. Все зло, которое делает вашу жизнь хуже, – это не Украина и даже не Запад. Это ваша бандитская власть!
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px;word-break:break-word;color:#757575;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                <span style="color:#000000">Поэтому, будущее России целиком и полностью зависит от вас, россияне. Вы должны сделать все возможное и невозможное, чтобы положить конец путинскому режиму, а именно выходить на массовые протесты и требовать немедленного прекращения войны. Только тогда все вернется на свои места, и мы начнем жить в мире.
                                </span>
                            </td>
                        </tr>
                </tbody>
            </table>



            </td>
        </tr>
    </tbody>
</table>




            </td>
        </tr>
    </tbody>
</table>

            </td>
        </tr>
    </tbody>

                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody>
            </table>
</body>
</html>